@charset "UTF-8";
@import "null.css";
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*/
/*--------------- Шрифты--------------- */
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans:wght@600&family=PT+Sans:wght@400;700&family=Ubuntu:wght@700&display=swap");
@font-face {
  font-family: "Belinda";
  src: url("../fonts/Belinda Regular.eot");
  src: local("☺"), url("../fonts/Belinda Regular.woff") format("woff"), url("../fonts/Belinda Regular.ttf") format("truetype"), url("../fonts/Belinda Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NexaRegular";
  src: url("../fonts/Fontfabric - NexaRegular.eot");
  src: local("☺"), url("../fonts/Fontfabric - NexaRegular.woff") format("woff"), url("../fonts/Fontfabric - NexaRegular.ttf") format("truetype"), url("../fonts/Fontfabric - NexaRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nexa_Bold";
  src: url("../fonts/Nexa Bold.eot");
  src: local("☺"), url("../fonts/Nexa Bold.woff") format("woff"), url("../fonts/Nexa Bold.ttf") format("truetype"), url("../fonts/Nexa Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*--------------- /Шрифты--------------- */
/*--------------- Общие стили--------------- */
body {
  background-color: #f5f5f5;
  font-family: "PT Sans", sans-serif;
  color: #787b80;
  line-height: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* Осторожно */
  min-height: 100vh;
  /* Осторожно */
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  color: #ffffff;
  background-color: #d2d5da;
  border-radius: 25px;
}
.button:hover {
  color: #d2d5da;
}

.rmb {
  width: 130px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  font-size: 17px;
}
.rmb:hover {
  transition: 0.3s;
  color: #ffffff;
  background-color: #50c3af;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  color: #40474e;
}

.underline {
  background-color: #e4e4e6;
  display: flex;
}

@media (max-width: 767px) {
  .underline {
    max-width: 280px;
  }
}
.description {
  font-size: 19px;
  color: #787b80;
}

.content__body {
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .content__body {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .content__body {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .content__body {
    max-width: none;
  }
}
/*---------------/Общие стили--------------- */
/*---------------Шапка сайта--------------- */
.header {
  color: #ffffff;
  text-align: center;
  height: 100vh;
  background: url("../img/header/01.png") center/cover no-repeat;
}

.header__column {
  display: flex;
  flex-direction: column;
}

.header__logoTitle {
  font-family: "Belinda", sans-serif;
  font-size: 70px;
  line-height: 24px;
  padding-top: 86px;
  margin-bottom: 60px;
}

.header__burger {
  display: none;
}

.header__navigation {
  margin-bottom: 105px;
}

.header__navigationRow {
  display: flex;
  justify-content: center;
}
.header__navigationRow a {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}
.header__navigationRow a:hover {
  transition: 0.5s;
  color: #d2d5da;
}
.header__navigationRow a:nth-child(n) {
  margin-left: 35px;
}
.header__navigationRow a:nth-last-child {
  margin-left: 0;
}

.header__mainTitle {
  margin-bottom: 110px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 24px;
}

.header__mainTitleText {
  font-family: "Ubuntu", sans-serif;
  font-size: 70px;
  margin-bottom: 95px;
}

.header__subtitle {
  font-size: 20px;
}
.header__subtitle::before {
  content: "";
}

.header__getButton {
  width: 312px;
  height: 64px;
  background-color: #50c3af;
  line-height: 64px;
  text-align: center;
  font-size: 20px;
}

/*Бургер меню */
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 20px;
    z-index: 2;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(-45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__navigation {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #50c3af;
    padding-top: 40px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__navigation.active {
    top: 0;
  }

  .header__navigationRow {
    display: block;
  }

  .header__navigationRow li {
    margin-bottom: 15px;
  }
}
/* /Бургер меню*/
@media (max-width: 767px) {
  .header__column {
    padding-top: 30px;
  }

  .header__logoTitle {
    font-size: 50px;
    margin-bottom: 30px;
    padding-top: 30px;
  }

  .header__navigation {
    margin-bottom: 50px;
  }

  .header__mainTitleText {
    font-size: 40px;
    line-height: 40px;
  }

  .header__getButton {
    width: 275px;
  }
}
/*---------------/Шапка сайта--------------- */
/*---------------Контентная часть--------------- */
/*---------------Блок категории--------------- */
.categories {
  padding: 27px 0 100px 0;
  background-color: #eeeeef;
}

.categories__row {
  display: flex;
  justify-content: space-between;
}

.categories__itemColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.categories__itemImageContainer {
  flex: 0 0 60px;
}

.categories__itemImage {
  width: 100%;
}

.categories__itemTitle {
  font-size: 20px;
  margin-bottom: 21px;
}

.categories__underline {
  height: 2px;
  width: 135px;
  margin-bottom: 25px;
}

.categories__itemDescription {
  max-width: 230px;
}

@media (max-width: 767px) {
  .categories__row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .categories__item {
    margin-bottom: 20px;
  }

  .categories__underline {
    width: 280px;
  }
}
/*---------------/Блок категории--------------- */
/*---------------Статьи--------------- */
.articles {
  padding: 65px 0 106px 0;
}

.articles__row {
  display: flex;
  justify-content: space-between;
}

.articles__itemColumn {
  display: flex;
  flex-direction: column;
}

.articles__itemImageContainer {
  flex: 1 0 265px;
  margin-bottom: 56px;
}

.articles__itemImage {
  width: 100%;
}

.articles__itemTitle {
  font-size: 24px;
  margin-bottom: 31px;
}

.articles__underline {
  height: 2px;
  width: 290px;
  margin-bottom: 25px;
}

.articles__itemDescription {
  max-width: 400px;
  margin-bottom: 45px;
}

@media (max-width: 767px) {
  .articles {
    padding: 55px 0 55px 0;
  }

  .articles__item {
    margin-bottom: 20px;
  }

  .articles__itemImageContainer {
    margin-bottom: 0;
  }

  .articles__itemColumn {
    align-items: center;
  }

  .articles__row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .articles__itemTitle {
    font-size: 20px;
  }

  .articles__underline {
    width: 280px;
  }

  .articles__itemDescription {
    max-width: 260px;
    text-align: center;
  }
}
/*---------------/Статьи--------------- */
/*---------------Поддержка--------------- */
.support {
  padding: 92px 0 85px 0;
  background-color: #eeeeef;
}

.support__item {
  display: flex;
  flex-direction: column;
}

.support__itemColumn {
  display: flex;
  flex-direction: column;
}

.titleBox {
  display: flex;
}

.support__title {
  font-size: 24px;
  margin-bottom: 31px;
}

.support__icon {
  color: #c6cbd1;
  margin-right: 20px;
}

.support__underline {
  width: 561px;
  height: 2px;
  margin-bottom: 35px;
}

.support__description {
  margin-bottom: 51px;
  max-width: 780px;
}

.support__rmb {
  background-color: #d2d5da;
}

@media (max-width: 767px) {
  .support {
    padding: 80px 0 80px 0;
  }

  .support__itemColumn {
    align-items: center;
  }

  .support__title {
    font-size: 19px;
  }

  .support__icon {
    margin-right: 10px;
  }

  .support__underline {
    width: 280px;
  }

  .support__description {
    max-width: 260px;
    text-align: center;
  }
}
/*---------------/Поддержка--------------- */
/*---------------Наши плюсы--------------- */
.benefits {
  padding: 82px 0 93px 0;
  display: flex;
}

.benefits__row {
  display: flex;
  justify-content: center;
  margin: 0 0 0 -46px;
}

.benefits__item {
  display: flex;
  flex: 0 1 33.333%;
  padding: 0 0 0 46px;
}

.benefits__itemColumn {
  display: flex;
  flex-direction: column;
}

.benefits__itemImageContainer {
  flex: 1 1 241px;
  margin-bottom: 55px;
}

.benefits__itemImage {
  width: 100%;
}

.benefits__itemTitle {
  font-size: 20px;
  margin-bottom: 27px;
}

.benefits__underline {
  width: 242px;
  height: 2px;
  margin-bottom: 35px;
}

.benefits__itemDescription {
  max-width: 270px;
  margin-bottom: 37px;
}

.benefits__checkButton {
  font-size: 17px;
  color: #50c3af;
}

@media (max-width: 992px) {
  .benefits {
    justify-content: center;
  }

  .benefits__row {
    flex-wrap: wrap;
  }

  .benefits__item {
    margin-bottom: 50px;
  }

  .benefits__itemColumn {
    align-items: center;
  }

  .benefits__itemImageContainer {
    flex: 1 1 auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .benefits {
    justify-content: center;
    padding: 50px 0 50px 0;
  }

  .benefits__row {
    flex-wrap: wrap;
  }

  .benefits__item {
    margin-bottom: 20px;
  }

  .benefits__itemColumn {
    align-items: center;
  }

  .benefits__itemImageContainer {
    flex: 0 1 200px;
    margin-bottom: 0;
  }

  .benefits__underline {
    width: 280px;
  }

  .benefits__itemDescription {
    max-width: 260px;
    text-align: center;
  }
}
/*---------------/Наши плюсы--------------- */
/*---------------Побуждение--------------- */
.prompting {
  padding: 88px 0 81px 0;
  background-color: #eeeeef;
}

.prompting__row {
  display: flex;
}

.prompting__item {
  flex: 0 1 50%;
}

.prompting__itemColumn {
  display: flex;
  flex-direction: column;
}

.prompting__title {
  font-size: 20px;
  margin-bottom: 25px;
}

.prompting__icon {
  color: #c6cbd1;
  margin-right: 20px;
}

.prompting__underline {
  height: 2px;
  width: 334px;
  margin-bottom: 37px;
}

.prompting__description {
  max-width: 350px;
  margin-bottom: 48px;
}

@media (max-width: 992px) {
  .prompting__row {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .prompting {
    padding: 50px 0 50px 0;
  }

  .prompting__row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .prompting__item {
    margin-bottom: 40px;
  }
  .prompting__item:last-child {
    margin-bottom: 0;
  }

  .prompting__itemColumn {
    align-items: center;
  }

  .prompting__underline {
    width: 280px;
  }

  .prompting__description {
    max-width: 260px;
    text-align: center;
  }
}
/*---------------/Побуждение--------------- */
/*---------------Персональное предложение--------------- */
.forYou {
  padding: 81px 0 82px 0;
}

.forYou__row {
  display: flex;
  margin: 0 0 0 -72px;
}

.forYou__imageWrapper {
  flex: 1 1 50%;
  padding: 0 0 0 72px;
}

.forYou__image {
  width: 100%;
}

.forYou__item {
  flex: 0 1 50%;
  padding: 0 0 0 72px;
}

.forYou__itemColumn {
  display: flex;
  flex-direction: column;
}

.forYou__title {
  font-size: 21px;
  margin-bottom: 31px;
}

.forYou__underline {
  width: 385px;
  height: 2px;
  margin-bottom: 41px;
}

.forYou__description {
  margin-bottom: 39px;
}

.forYou__rmb {
  background-color: #d2d5da;
}

@media (max-width: 767px) {
  .forYou__row {
    flex-direction: column;
  }

  .forYou__imageWrapper {
    margin: 0 10px 40px 10px;
  }

  .forYou__itemColumn {
    align-items: center;
  }

  .forYou__title {
    font-size: 18px;
  }

  .forYou__description {
    max-width: 260px;
    text-align: center;
  }
}
/*---------------/Персональное предложение--------------- */
/*---------------Наши партнёры--------------- */
.partners {
  padding: 70px 0 97px 0;
  background-color: #50c3af;
}

.partners__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners__title {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.partners__icon {
  margin-right: 20px;
  opacity: 0.3;
}

.partners__underline {
  width: 334px;
  height: 2px;
  background-color: #f5f5f5;
  opacity: 0.1;
  align-items: center;
  margin-bottom: 53px;
}

.partners__row {
  display: flex;
  justify-content: space-between;
}

.partners__item {
  opacity: 0.7;
  font-size: 35px;
  color: #ffffff;
}

.partners__p1 {
  font-family: "Belinda", sans-serif;
  font-weight: 400;
}

.partners__p2 {
  font-family: "NexaRegular", sans-serif;
  font-weight: 400;
}

.partners__p3 {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

.partners__p4 {
  font-family: "Nexa_Bold", sans-serif;
  font-weight: 900;
}

@media (max-width: 767px) {
  .partners {
    padding: 55px 0 55px 0;
  }

  .partners__icon {
    margin-right: 10px;
  }

  .partners__title {
    font-size: 20px;
  }

  .partners__underline {
    margin-bottom: 30px;
  }

  .partners__row {
    flex-direction: column;
    align-items: center;
  }

  .partners__item {
    margin-bottom: 20px;
  }
  .partners__item:last-child {
    margin-bottom: 0;
  }
}
/*---------------/Наши партнёры--------------- */
/*---------------/Конетнтная часть--------------- */
/*---------------Подвал сайта--------------- */
.footer__row {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyrightText {
  color: #aaacaf;
  font-size: 19px;
  font-family: "PT Sans", sans-serif;
}
.footer__copyrightText span {
  color: #787b80;
}

.footer__socialMedias {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socialMediasIcons a {
  color: #787b80;
  font-size: 19px;
}
.footer__socialMediasIcons a i:nth-child(n) {
  margin-left: 19px;
}

@media (max-width: 767px) {
  .footer__row {
    flex-direction: column;
    align-items: center;
  }

  .footer__copyrightText {
    font-size: 14px;
  }

  .footer__socialMediasIcons a {
    font-size: 25px;
  }

  .footer__socialMedias {
    margin-bottom: 20px;
  }
}
/*---------------/Подвал сайта--------------- */